[FORMAT]
max-line-length=150

[TYPECHECK]

# List of class names for which member attributes should not be checked (useful
# for classes with dynamically set attributes). This supports the use of
# qualified names.
ignored-classes=SQLAlchemy,SQLObject,Registrant,scoped_session,cv2