git+https://github.com/2bndy5/Adafruit_CircuitPython_LSM9DS1.git#egg=Adafruit_CircuitPython_LSM9DS1
git+https://github.com/2bndy5/CircuitPython_MPU6050.git#egg=CircuitPython_MPU6050
git+https://github.com/DVC-Viking-Robotics/Drivetrain.git#egg=Drivetrain
git+https://github.com/DVC-Viking-Robotics/GPS_Serial.git#egg=GPS_Serial
circuitpython-nrf24l01==1.1.0
opencv-python==3.4.3.18
pyserial==3.4
Flask==1.0.2
Flask-CacheBuster==1.0.0
Flask-Compress==1.4.0
Flask-Login==0.4.1
Flask-SocketIO==3.3.2
eventlet==0.24.1
Flask-SQLAlchemy==2.4.1
Flask-DebugToolbar==0.10.1
PyMySQL==0.9.3
cryptography==2.7
sphinx==2.2.0
