adafruit_circuitpython_lsm9ds1==2.0.5
adafruit_circuitpython_mpu6050==1.0.1
git+https://github.com/DVC-Viking-Robotics/Drivetrain.git
git+https://github.com/DVC-Viking-Robotics/GPS_Serial.git
circuitpython-nrf24l01==1.1.0
opencv-python==3.4.3.18
pyserial==3.4
Flask==1.0.2
Flask-CacheBuster==1.0.0
Flask-Compress==1.4.0
Flask-Login==0.4.1
Flask-SocketIO==3.3.2
eventlet==0.24.1
pyxtermjs==0.4.0.1
