{% extends "layout.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">About this project</h1>
        <h4 class="subtitle is-4">This web app is designed to control Viking Robotics's MASCCOT robot.</h4>
        <p>
            This website's support: <a href="https://github.com/DVC-Viking-Robotics/webapp">DVC Viking Robotics</a>
            <br />
            Marketing: Contact us! <a href="mailto:dvcrobotics@gmail.com">Diablo Valley Community College - Robotics Club</a>
        </p>

        <p>
            More information can be found at the <a href="dvcrobotics.tech">Project Website</a>
        </p>
    </div>
</section>
{% endblock %}