{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="../static/content/maps.css" />
  <div id="floating-panel">
    <input onclick="clearMarkers();" type=button value="Hide Markers">
    <input onclick="showMarkers();" type=button value="Show All Markers">
    <input onclick="deleteMarkers();" type=button value="Delete Markers">
    <input onclick="latPlus();" type=button value="LAT++">
    <input onclick="latMinus();" type=button value="LAT--">
    <input onclick="lngPlus();" type=button value="LNG++">
    <input onclick="lngMinus();" type=button value="LNG--">
  </div>
  <div id="map"></div>
  <script type="text/javascript" src="/static/scripts/socket.io.min.js"></script>
  <script type="text/javascript">
  var socket = io.connect({transports: ['websocket']});
  </script>
  <script type='text/javascript' src="../static/scripts/MapsAPI.js"></script>
  <p>Click on the map to add markers.</p>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBq4kjidV-vDjoT9jzbwzNlbnGhYvIe5v8 &callback=initMap" async defer></script>
  <button type="button" id="GoButt" onclick="dumpMarkers(true);">Go go Gadget Robot</button>
  <table width = "90%" align = "center">
    <tr width = "40%">
      <td width = "20%"> 
        <h3>Coordinates</h3>
          <div id="gps" style="background-color: antiquewhite">1, 4, 7</div>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Compass</h3>
        <div id="compass" style="background-color: antiquewhite">3</div>
      </td>
    </tr>
  </table>
<script type='text/javascript' src="../static/scripts/sensor_data.js"></script>

{% endblock %}
