{% extends "layout.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">Camera Feed</h1>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <img id="camera-stream"></img>
    </div>
</section>

<script src="/static/scripts/libs/socket.io.min.js"></script>
<script>const socket = io.connect({ transports: ['websocket'] });</script>

<script src="../static/scripts/camera.js"></script>
{% endblock %}