{% extends "layout.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-12">
                {% for row in range(NUM_ROWS) %}
                <div class="tile">
                    {% for page in ALL_PAGES %}
                    {% if not page.metapage and page.row_location == row %}
                    <div class="tile is-parent" onclick="window.location.href = '/{{page.route}}'">
                        <article class="tile is-child notification is-info">
                            <p class="title">{{page.title}}</p>
                            <p class="subtitle">{{page.description}}</p>
                            <figure class="image is-square">
                                <img src="/static/images/{{page.image}}.png">
                            </figure>
                        </article>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}