<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Remote Control Your Robot</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bulma.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/all.css">
        <link rel="shortcut icon" href="static/raspberry-pi-robot.ico" />
    </head>
    <body class="has-background-black-ter">
        <div id="sidenav" class="sidenav">
            <button class="delete has-background-danger is-outlined is-large is-pulled-right" onclick="closeNav()"></button>
            <a href="/settings/user">My preferences</a>
            <div class="favs">
                {% for r in current_user.remotes %}
                <a href={{r.link}}>{{r.name}}</a>
                {% endfor %}
                <a href="/remote"><li>Remote Control</li></a>
                <a href="/vidFeed"><li>Camera</li></a>
                <a href="/automode"><li>Autonomous Navigation</li></a>
            </div>
            <a href="/settings">Settings</a>
            <a href="/about">About</a>
        </div>

        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main">
            <nav class="navbar is-dark is-marginless is-paddingless is-fullhd">
                <div class="navbar-menu">
                    <!-- <button id="ham" class="button is-success is-outlined" onclick="openNav()">&#9776;</button> -->
                    <h3 class="has-text-white" style="padding: 10px;">{{ title }}</h3>
                </div>
            </nav>
            {% block content %}{% endblock %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
            <div class="columns is-vertical is-centered is-overlay">
                <div class="column is-narrow">
                    {% for category, message in messages %}
                        {% set category = category.replace('message', 'info') %}
                        {% set category = category.replace('error', 'danger') %}
                    <div class="notification is-{{ category }}">
                        <span class="icon is-pulled-left has-text-black">
                            {% if category.find('danger') >= 0 %}
                            <i class="fas fa-ban"></i>
                            {% elif category.find('warning') >= 0 %}
                            <i class="fas fa-exclamation-triangle"></i>
                            {% elif category.find('info') >= 0 %}
                            <i class="fas fa-info-circle"></i>
                            {% elif category.find('success') >= 0 %}
                            <i class="fas fa-thumbs-up"></i>
                            {% endif %}
                        </span>
                        <p class="has-text-black"><strong>{{ message }}</strong></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
                {% endif %}
            {% endwith %}
        </div>

        <!-- <script src="/static/scripts/hamburger.js"></script> -->
    </body>
</html>