<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bulmaswatch-darkly.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bulma-quickview.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/site.css">
        <link rel="shortcut icon" href="/static/images/viking.png">
        <script defer src="/static/scripts/libs/fontawesome-all.min.js"></script>

        <style>
            .sidenav-button {
                border-radius: 0px;
            }
        </style>
    </head>

    <body class="has-background-black-ter">
        <div id="sidenav" class="quickview is-left">
            <header class="quickview-header is-dark">
                <p class="title">Main Menu</p>
                <span class="delete has-background-danger is-outlined is-large is-pulled-right" data-dismiss="quickview"></span>
            </header>

            <div class="quickview-body is-dark">
                <div class="quickview-block">
                    <a class="button is-medium is-fullwidth sidenav-button" href="/settings/user">My preferences</a>
                    <div class="favs">
                        {% for r in current_user.remotes %}
                        <a href={{r.link}}>{{r.name}}</a>
                        {% endfor %}

                        {% for page in ALL_PAGES %}
                        <a class="button is-medium is-primary is-fullwidth sidenav-button" href="{{page.route}}">{{page.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <footer class="quickview-footer"></footer>
        </div>

        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <button class="button is-success is-outlined" data-show="quickview" data-target="sidenav">&#9776;</button>
                    </div>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="top-navbar">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="top-navbar" class="navbar-menu">
                    <div class="navbar-start">
                        {% for page in ALL_PAGES %}
                        <a class="navbar-item" href="{{page.route}}">{{page.title}}</a>
                        {% endfor %}
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-dark"><strong>Sign up</strong></a>
                                <a class="button is-light">Log in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            {% block content %}{% endblock %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="columns is-vertical is-centered is-overlay">
                <div class="column is-narrow">
                    {% for category, message in messages %}
                    {% set category = category.replace('message', 'info') %}
                    {% set category = category.replace('error', 'danger') %}
                    <div class="custom-notification is-{{ category }}">
                        <span class="icon is-pulled-left has-text-black">
                            {% if category.find('danger') >= 0 %}
                            <i class="fas fa-ban"></i>
                            {% elif category.find('warning') >= 0 %}
                            <i class="fas fa-exclamation-triangle"></i>
                            {% elif category.find('info') >= 0 %}
                            <i class="fas fa-info-circle"></i>
                            {% elif category.find('success') >= 0 %}
                            <i class="fas fa-thumbs-up"></i>
                            {% endif %}
                        </span>
                        <p class="has-text-black"><strong>{{ message }}</strong></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
        </div>

        <script src="/static/scripts/navbar-mobile.js"></script>
        <script src="/static/scripts/libs/bulma-quickview.min.js"></script>

        <script>bulmaQuickview.attach();</script>
    </body>

</html>