{% extends "layout.html" %}

{% block content %}

<style>
    /* Used for handling mobile view */
    .camera-stream-view {
        min-width: 160px;
        min-height: 120px
    }

    /* Removes extra fluff along sides of vertical sliders */
    .thin-vertical-slider {
        width: 50px;
    }

    .stop-sign {
        min-width: 50px;
        min-height:50px;
    }
</style>

<section class="section">
    <div class="container has-text-centered">
        <div class="columns is-mobile">
            <div id="camera-stream-wrapper" class="column is-half is-offset-one-quarter">
                <img id="camera-stream" class="camera-stream-view"></img>
            </div>
            <div class="column is-1 is-narrow-mobile">
                <canvas class="slider-vertical has-text-success", id="speed"></canvas>
            </div>
        </div>

        <div class="columns is-mobile">
            <div class="column is-8 is-offset-3" style="width: auto">
                <canvas class="slider has-text-link" id="turn"></canvas>
            </div>
            <!-- <div class="column is-1">
                <figure class="image is-square">
                    <img id="stop-button" class="stop-sign" src="/static/images/stop-sign.png">
                </figure>
            </div> -->
        </div>

        <div class="columns">
            <div class="column is-offset-2">
                <p class="title">Speed: <span id="speed-o-meter">0</span></p>
            </div>
            <div class="column is-half">
                <p class="title">Turn: <span id="turn-o-meter">0</span></p>
            </div>
        </div>
    </div>
</section>

<!-- Initialize websocket I/O-->
<script src="{{ url_for('static', filename='scripts/libs/socket.io.min.js') }}"></script>
<script>const socket = io.connect({ transports: ['websocket'] });</script>

<!-- This is used for adjusting the slider sizes when the camera feed size changes -->
<script src="{{ url_for('static', filename='scripts/libs/ResizeSensor.js') }}"></script>

<!-- Initialize camera -->
<script src="{{ url_for('static', filename='scripts/camera.js') }}"></script>
<!-- Initialize controller -->
<script src="{{ url_for('static', filename='scripts/controller.js') }}"></script>
<script>initRemote();</script>
{% endblock %}