{% extends "layout.html" %}

{% block content %}
<style>
    .sensor-chart {
        max-width: 100%;
        max-height: 100%;
    }
</style>

<section class="section">
    <div class="container">
        <div class="buttons has-addons are-medium is-centered">
            <a class="button is-rounded" id="btn-raw-data" onclick="toggleView('raw-data')">Raw Data</a>
            <a class="button is-rounded" id="btn-robot-view" onclick="toggleView('robot-view')">Robot View</a>
        </div>

        <div class="tile is-ancestor" id="raw-data-view">
            <div class="tile is-vertical is-12">
                <div class="tile">
                    <div class="tile is-parent is-8">
                        <article class="tile is-child notification">
                            <p class="title">Accelerometer Data</p>
                            <canvas class="sensor-chart" id="accelerometer-line-chart"></canvas>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="title">Accelerometer Values</p>
                            <canvas class="sensor-chart" id="accelerometer-bar-chart"></canvas>
                        </article>
                    </div>
                </div>

                <div class="tile">
                    <div class="tile is-parent is-8">
                        <article class="tile is-child notification">
                            <p class="title">Gyroscope Data</p>
                            <canvas class="sensor-chart" id="gyroscope-line-chart"></canvas>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="title">Gyroscope Values</p>
                            <canvas class="sensor-chart" id="gyroscope-bar-chart"></canvas>
                        </article>
                    </div>
                </div>

                <div class="tile">
                    <div class="tile is-parent is-8">
                        <article class="tile is-child notification">
                            <p class="title">Magnetometer Data</p>
                            <canvas class="sensor-chart" id="magnetometer-line-chart"></canvas>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="title">Magnetometer Values</p>
                            <canvas class="sensor-chart" id="magnetometer-bar-chart"></canvas>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/static/scripts/libs/moment.min.js"></script>
<script src="/static/scripts/libs/Chart.min.js"></script>

<script src="/static/scripts/chartjs/sensor-utils.js"></script>
<script src="/static/scripts/chartjs/chart-config.js"></script>

<script src="/static/scripts/chartjs/accel-charts.js"></script>
<script src="/static/scripts/chartjs/gyro-charts.js"></script>
<script src="/static/scripts/chartjs/mag-charts.js"></script>

<script>
    function toggleView(viewType) {
        var btnRobotView = document.getElementById('btn-robot-view');
        var btnRawDataView = document.getElementById('btn-raw-data');

        // var robotView = document.getElementById('');
        var rawDataView = document.getElementById('raw-data-view');

        switch (viewType) {
            case 'robot-view':
                btnRobotView.classList.add('is-info');
                btnRawDataView.classList.remove('is-link');

                rawDataView.style.visibility = 'hidden';
                break;
            case 'raw-data':
                btnRobotView.classList.remove('is-info');
                btnRawDataView.classList.add('is-link');

                rawDataView.style.visibility = 'visible';
                break;
        }
    }

    toggleView('raw-data');
</script>

<script>
    var accelLineCtx = document.getElementById('accelerometer-line-chart').getContext('2d');
    var accelLineChart = new Chart(accelLineCtx, configAccelLineChart);

    var accelBarCtx = document.getElementById('accelerometer-bar-chart').getContext('2d');
    var accelBarChart = new Chart(accelBarCtx, configAccelBarChart);

    var gyroLineCtx = document.getElementById('gyroscope-line-chart').getContext('2d');
    var gyroLineChart = new Chart(gyroLineCtx, configGyroLineChart);

    var gyroBarCtx = document.getElementById('gyroscope-bar-chart').getContext('2d');
    var gyroBarChart = new Chart(gyroBarCtx, configGyroBarChart);

    var magLineCtx = document.getElementById('magnetometer-line-chart').getContext('2d');
    var magLineChart = new Chart(magLineCtx, configMagLineChart);

    var magBarCtx = document.getElementById('magnetometer-bar-chart').getContext('2d');
    var magBarChart = new Chart(magBarCtx, configMagBarChart);
</script>
{% endblock %}