{% extends "layout.html" %}



{% block content %}
<script type="text/javascript" src="/static/scripts/socket.io.min.js"></script>
<script src="/static/scripts/controller.js"></script>
<script type='text/javascript' src="../static/scripts/MapsAPI.js"></script>
<script type='text/javascript' src="../static/scripts/sensor_data.js"></script>
<img id="video"></img>
<div id="map"></div>

<h2>{{ title }}</h2>

<div id="canvasContainer">
    <canvas id="canvas" width="200"></canvas>
</div>
<div id="printresults">
    <p id="x-value">{{xvalue}}</p>
</div>
<script>initRemote();</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBEPoV-pgwZC36LaGzOuimUNFk5pWVBr-Y &callback=initMap" async defer></script>
{% endblock %}
