#map {
    height: 600px;
}

#floating-top-panel {
    position: absolute;
    z-index: 5;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding: 0 5px 0 0;
    top: 82px;
    right: 50px;
    left: 206px;
    text-align: right;
}

#floating-top-panel button {
  margin-bottom: 5px;
}

#floating-bottom-panel {
    position: absolute;
    bottom: 20px;
    left: 43%;
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

@media (max-width: 768px) {
  #floating-top-panel {
    position: relative;
    top: 0;
    left: 0;
    text-align: right;
    padding: 5px 0 0;
  }
}
